{% extends 'music/base.html' %}
{% block title %} Album Details {% endblock %}


{% block body %}
<div class = "col-sm-3">
<div class = "panel panel-default">
            <div class = "panel-body">

                <img src = "{{album.album_logo.url}}" height = "220" width="220">

<h1> {{ album.album_title }}</h1>
<h3> {{ album.artist }} </h3>
            </div>
    </div>
</div>


            <div class = "col-sm-8">
                <div class = "panel panel-default">
                    <div class = "panel-body">
                <form action = "{% url 'music:detail' album.id %} " method = "get" style = "display:inline">
                    {% csrf_token %}
                    <button type = "submit" class = "btn btn-default btn-sm">
                        View All songs
                    </button>
                </form>

                 <form action = "{% url 'music:song_add' %}" method = "post" style = "display:inline " >
                     {% csrf_token %}
                     <button type = "submit" class = "btn btn-default btn-success">
                         Add Song
                     </button>



                 </form><br><br>
                        <table width = "80%" cellpadding="30px">
                            <thead>
                            <th> Song Title  </th>
                            <th> Artist      </th>
                            <th>Song Length      </th>
                            </th>
                            </thead>
                               {% for song in album.song_set.all %}
                                <tr>
                                <td>{{ song.song_title }}</td>
                                <td>{{ song.album.artist }}</td>
                                <td>{{ song.song_length }}</td>
                                <td>{% if song.is_Favorite %}
                                    <img src = "../../static/music/images/star.jpg" height = "15" widht = "25"/>
                                    {% else %}
                                      &nbsp; <img src="../../static/music/images/star1.jpg" height = "13" width = "12"/>
                                    {% endif %}
                                </td>
                                </tr>
                                {% endfor %}
                        </table>

 </div>
 </div>
</div>
{% endblock %}