


{% extends 'music/base.html' %}
{% block title %} Viberr {% endblock %}

{% block body %}

{% if all_albums %}
    <h3> ALBUMS:</h3><br>
    {% for album in all_albums %}



            <div class = "col-sm-3">
                <div class = "col-xs-12">
         <div class = "panel panel-default">
            <div class = "panel-body">


                <img src = "{{album.album_logo.url}}" height = "220" width="220">
        <h4> {{ album.album_title }}</h4>


    <!--Details-->
     <form action = "{% url 'music:detail' album.id %}" method = "get">
         {% csrf_token %}
         <button type = "submit" class = "btn btn-default btn-success">
            Details
         </button>
     </form>
    <!--Delete-->
       <form action = "{% url 'music:album_delete' album.id %}" method = "post" >
        {% csrf_token %}
        <input type = "hidden" name = "album_id" value = "{{album_id}}"/>
        <button type = "submit" class = "btn btn-default btn-sm" style = "display:inline" >
        <span class = "glyphicon glyphicon-trash" ></span>
        </button>
       </form>

            </div>

                     </div>
                </div>
            </div>

    {% endfor %}
{% else %}
    <h3> You don't have any Albums</h3>
    {% endif %}
{% endblock %}